* {
    font-family: 'Zilla Slab', serif;
}

html {
    background: url(kettlebellbackground.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    color: #d6e6fa;
    font-size: 100px;
    font-weight: 200;
}

h2 {
    color: #d6e6fa;
    font-weight: 200;
}

h3 {
    color: #d6e6fa;
    font-weight: 200;
    padding-bottom: 70px;
}

.leftColumn, .middleColumn, .rightColumn {
    margin: 0 auto;
}

img.armLeft, img.armMiddle, img.armRight{
    max-height: 200px;
    max-width: 200px;
    margin-top: 30px;
    margin-left: 160px;
    margin: auto;
}

#arm{
    /*padding-top: 100px; */
    padding-left: 50px;
}

.leftColumn, .middleColumn, .rightColumn {
    text-align: center;
}

.firstMovement, .secondMovement, .thirdMovement {
    display: inline-block;
    font-size: 30px;
    color: #d6e6fa;
    font-weight: 1300;
    width: 100px;
    height: 50px;
   /* margin-top: 25px;*/
}

.header {
    color: #fff;
    text-align: center;
    font-weight: bold;
}

p {
    color: #d6e6fa;
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgba(162, 210, 246, 0.90);
}

button:hover {  
    width: 150px;
    height: 100px;
}

#current_temp, #location{
font-size: 25px;
}


.container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
}

.container > div {
    flex: 1;
} 

footer > div {
    margin-top: 50px;
    text-align:center;
    color: #d6e6fa;
    font-weight: bolder;
}



/*media query below*/


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
      * {
    font-weight: bold; 
      }
      button {
        margin-top: 40px;
      }
      button:hover {  
    width: 120px;
    height: 70px;
      } /*prevents button enlargment upon hover in mobile touchscreen type devices*/
    .container {
    margin-bottom: 250px;
         }
      h1, h2, h3 {
        color: white;
      }
      .nice-weather {
    color: white;
    font-size: 30px;
      }
}


@media (max-width: 960px){
    .container {
    flex-direction:column;  
        }
img.armLeft, img.armMiddle, img.armRight{
    margin-left: 45px;
    }
    
#arm{
    padding-top: 100px; 
    padding-left: 20px;
}
    
} /*end media query*/