html {
background: url(C:/Users/asmatt01/mattinglyCLProject/kettlebellbackground.jpg) no-repeat center center fixed;
background-size: cover;
}

.leftColumn, .middleColumn, .rightColumn {
margin: 0 auto;
}

img.armLeft, img.armMiddle, img.armRight{
max-height: 200px;
max-width: 200px;
margin-top: 30px;
margin-left: 160px;
margin: auto;
}

#arm{
padding-top: 100px; 
padding-left: 50px;
}

.leftColumn, .middleColumn, .rightColumn {
text-align: center;
}

.firstMovement, .secondMovement, .thirdMovement {
display: inline-block;
margin-top: 25px;
background-color: red;
}

.header {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

p {
color: #fff;
text-align: center;
}

button {
display: block;
margin: 0 auto;
font-family: 'Roboto', sans-serif;
margin-bottom: 20px;
}

button:hover {
background-color: red;
}

.container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
    font-family: 'Roboto', sans-serif;
}

.container > div {
flex: 1;
} 

footer > div {
margin-top: 50px;
background-color: blue;
text-align:center;
font-family: 'Roboto', sans-serif;
}



/*media query below*/

@media (max-width: 960px){
    .container {
    flex-direction:column;  
        }
img.armLeft, img.armMiddle, img.armRight{
margin-left: 45px;
    }
    
#arm{
padding-top: 100px; 
padding-left: 20px;
}
    
} /*end media query*/